.column {
  border: 1px solid #ffe600;
  flex: 1 1 100%;
  padding: 10px;
  background-color: #efefef;
}

.columns {
  display: flex;
  padding: 20px 0;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  cursor: move;
}