.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #2e2e38;
  transition: 100ms all;
}